@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}

